* {
    box-sizing: border-box;
    margin: 50px;
    padding: 50px;
    color: white;
	color:red;
    
    font-family: 'Itim', cursive;
    font-weight: bolder;
    text-align: center;
    letter-spacing:0px;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px black;
    

}
.container{
     font-weight: bolder;
    text-align: center;
    letter-spacing:0px;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px black;
}
h2{
    font-weight: bolder;
    text-align: center;
	color:red;
	
	the familys comes everday.
	the family come everday.
    letter-spacing:0px;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px black;
    
    color:coral;
    text-shadow: 2px 2px 1px rgb(91, 92, 95);
}
#gray{
    
    background-color: gray;
}
button{
    background-color: rgb(247, 173, 82);
    

}
#selectage{
    
    text-shadow: 2px 2px 1px rgb(91, 92, 95);
    
}
#calculateage:hover{
    
    
    background-color: rgb(247, 173, 82);
    background-color: rgb(83, 83, 82);
    border-radius: 10px;
}